body {
  margin: 0;
}

a {
  text-decoration: none;
}

@media all and (max-width: 750px) {
  #navigation {
    height: 100px;
    background-image: url(./images/bg3.svg);
    background-repeat: no-repeat;
  }

  #navbar {
    display: none;
  }

  #menu-icon {
    display: flex;
    justify-content: flex-end;
  }

  #menu-bar {
    font-size: 20px;
    margin-right: 4%;
    margin-top: 4%;
  }

  #menu-list {
    display: none;
    background-color: #fff;
    height: 65vh;
    width: 100%;
    position: absolute;
    transition: 1s;
    top: 0;
  }

  .show {
    display: block !important;
  }

  #nav-list {
    list-style-type: none;
    color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10%;
    background-image: url(./images/bg5.svg);
    background-repeat: no-repeat;
  }

  .list-link {
    color: #282828;
  }

  #nav-list li:first-child {
    align-self: flex-end;
    font-size: 35px;
    margin-bottom: 100px;
    margin-right: 5%;
  }

  .menu-li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    line-height: 60px;
  }

  #bg3 {
    height: 250px;
    background-image: url(./images/bg2.svg);
    margin-top: 158px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }

  #introduction {
    margin-left: 5%;
    margin-right: 5%;
  }

  #bg6 {
    display: none;
  }

  .heading1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 200;
    width: 35%;
    margin-bottom: 2%;
    color: #1a2236;
  }

  .first-para {
    font-size: 1.2rem;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    width: 85%;
  }

  .contact-button {
    width: 90%;
    height: 40px;
    font-size: 1.2rem;
    color: rgb(234, 231, 238);
    background-color: #1a2236;
    margin-top: 7%;
  }

  .submit {
    width: 90%;
    height: 40px;
    font-size: 1.2rem;
    color: rgb(234, 231, 238);
    background-color: #1a2236;
    margin-top: 7%;
    margin-left: 5%;
  }

  a {
    color: #fff;
  }

  #bg {
    height: 195px;
    background-image: url(./images/bg4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 10%;
  }

  .heading2 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 200;
    width: 35%;
    margin-bottom: 4%;
    color: #1a2236;
    margin-left: 5%;
  }

  .laptop {
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    background-color: #1a2236;
    height: 200px;
  }

  .project-name {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 1;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .tech {
    list-style-type: none;
    display: flex;
    color: #354b5b;
    justify-content: flex-start;
    width: 90%;
    margin-left: -10%;
    margin-top: 0;
  }

  .tech-li {
    background-color: #98dede;
    width: 25%;
    margin-left: 5%;
    font-size: 1rem;
    font-weight: 5;
  }

  .project-button {
    height: 50px;
    background-color: #1a2236;
    border: 1px solid #fff;
    color: #fff;
    width: 50%;
    margin-left: 5%;
    font-size: 1.2rem;
    margin-top: 5%;
  }

  .second-para {
    font-size: 1.2rem;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin-left: 5%;
  }

  #languages {
    background-color: #1c528a;
    height: 300px;
    width: 90%;
    margin-left: 5%;
    background-image: url(./images/#.svg);
  }

  .heading3 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-top: 15%;
    margin-left: 10%;
  }

  #languages-list {
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #frameworks {
    background-color: #e2505c;
    height: 300px;
    width: 90%;
    margin-left: 5%;
  }

  #frameworks-list {
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #skills {
    background-color: #febf52;
    height: 300px;
    width: 90%;
    margin-left: 5%;
  }

  #skills-list {
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #bg2 {
    height: 100px;
    background-image: url(./images/bg3.svg);
    background-repeat: no-repeat;
    margin-top: 15%;
    margin-bottom: 0;
  }

  .third-para {
    font-size: 1.2rem;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin-left: 5%;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
  }

  .text {
    height: 60px;
    margin-top: 5%;
    width: 85%;
    margin-left: 5%;
  }

  .text-area {
    height: 120px;
    margin-top: 5%;
    width: 85%;
    margin-left: 5%;
  }

  footer {
    background-color: #1a2236;
    height: 25vh;
    margin-top: 20%;
  }

  #cv {
    padding-top: 10%;
    margin-left: 5%;
  }

  .cv-link {
    color: #92dcdc;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
  }

  .socials {
    width: 90%;
    margin-left: 5%;
    display: flex;
    margin-top: 10%;
  }

  .social-link {
    width: 18%;
  }

  .fa-brands {
    font-size: 25px;
  }
}

@media all and (min-width: 751px) {
  #menu {
    display: none;
  }

  #navbar {
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 7vh;
    width: 100%;
  }

  #desktop-nav {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #navbar-list {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    margin-left: -4.5%;
    position: fixed;
    top: 0;
    background-color: #fff;
    height: 5vh;
    margin-top: 0%;
    padding-top: 1%;
    margin-bottom: 0;
  }

  .navbar-li {
    font-family: 'Poppins', sans-serif;
    color: #282828;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #introduction {
    display: flex;
    background-image: url(./images/bg1.svg);
    background-repeat: no-repeat;
    background-position: 100% 37%;
    background-size: 80vh;
  }

  #intro {
    width: 30%;
    margin-top: 15vh;
    margin-left: 15%;
    height: 100vh;
  }

  .heading1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 300;
    width: 35%;
    margin-bottom: 2%;
    color: #1a2236;
  }

  .first-para {
    font-size: 1rem;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    width: 85%;
  }

  a {
    color: #fff;
  }

  .submit {
    width: 60%;
    height: 40px;
    font-size: 1.2rem;
    color: rgb(234, 231, 238);
    background-color: #1a2236;
  }

  .heading2 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 2%;
    color: #1a2236;
    align-self: center;
  }

  #projects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-div {
    width: 35%;
    padding-left: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
  }

  .laptop {
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    background-color: #1a2236;
    height: 200px;
    margin-top: -1%;
  }

  .project-name {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 1;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .tech {
    list-style-type: none;
    display: flex;
    color: #354b5b;
    justify-content: flex-start;
    width: 90%;
    margin-left: -10%;
    margin-top: 0;
  }

  .tech-li {
    background-color: #98dede;
    width: 25%;
    margin-left: 5%;
    font-size: 1rem;
    font-weight: 5;
  }

  .project-button {
    height: 50px;
    background-color: #1a2236;
    border: 1px solid #fff;
    color: #fff;
    width: 50%;
    margin-left: 5%;
    font-size: 1.2rem;
    margin-top: 5%;
  }

  #about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 10%;
    background-image: url(./images/bg7.svg);
    background-repeat: no-repeat;
    background-size: 30vh;
    background-position: 0% 100%;
    padding-bottom: 20%;
  }

  #about-head {
    width: 30%;
  }

  #about-skill {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .second-para {
    font-size: 1.2rem;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    width: 85%;
  }

  #languages {
    background-color: #1c528a;
    height: 250px;
    width: 40%;
    background-image: url(./images/#.svg);
  }

  .heading3 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding-top: 15%;
    margin-left: 10%;
  }

  #languages-list {
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #frameworks {
    background-color: #e2505c;
    height: 250px;
    width: 40%;
  }

  #frameworks-list {
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 150%;
    font-size: 1.2rem;
  }

  #skills {
    background-color: #febf52;
    height: 250px;
    width: 40%;
  }

  #skills-list {
    margin-left: 5%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    line-height: 150%;
    font-size: 1.2rem;
  }

  .third-para {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    width: 30%;
    margin-top: 0;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/bg6.svg);
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position: 100% 100%;
    padding-bottom: 20%;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
  }

  .text {
    height: 60px;
    margin-top: 5%;
    width: 70%;
    margin-left: 5%;
  }

  .text-area {
    height: 120px;
    margin-top: 5%;
    width: 70%;
    margin-left: 5%;
  }

  footer {
    display: flex;
    background-color: #1a2236;
    height: 20vh;
    margin-top: 0%;
  }

  #cv {
    padding-top: 5%;
    margin-left: 5%;
    width: 30%;
  }

  .cv-link {
    color: #92dcdc;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
  }

  .socials {
    width: 60%;
    margin-left: 5%;
    display: flex;
    margin-top: 5%;
  }

  .social-link {
    width: 18%;
  }

  .fa-brands {
    font-size: 25px;
  }

  .c {
    margin-top: 5%;
    margin-left: 11%;
  }
}
